root = true
# http://editorconfig.org

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8-bom
trim_trailing_whitespace = true
insert_final_newline = true

[*.csproj]
indent_size = 2
ij_xml_space_inside_empty_tag = true

[*.txt]
insert_final_newline = false